.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    position: absolute;
 display: block;
 width: 100%;
 height: 100%;

 
}
.item, .carousel {
    position: inherit;
    width: 1999px;
    height: 1000px;
  
}

.carousel-caption {
background-color: rgba(0,0,0,.8);
position: absolute;
left: 0;
right: 0;
bottom: 0;
z-index: 10;
padding: 0 0 10px 0px;
color: #fff;
text-align: center;
}

.carousel-control.left,
.carousel-control.right {
background-image: none;


}
.carousel-inner{
  border-width:55px;  
  border-style:ridge;
  border-color:gray;
  margin-left: 300px;
}
#dln{
    margin-left:15%;
    width: 2000px;
    height:150px;
    font-size: 90px;

}

