#main-content  {
    border: 1px solid black;
}

<<<<<<< HEAD
img {
    width: 400px;
    height: 300px;
}
=======
#for-test-delete-later {
    border: 1px solid black;
    margin-left: 150px;
}
.testCatpic{
    width:500px;
}



>>>>>>> 1f8cc15c3d07d577e068677fed0cc5c3a479050f
